


body {
  font-size: 24px;
  line-height: 32px;
  font-family: 'Arial', Helvetica Neue, Helvetica, sans-serif;
  color: #777777;
}

.textGame {
  
  width: 230px;
  text-align: center;
  background: #4aaaa5;
  z-index: 2;

}

